<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User info</title>
</head>
<body>
    <h2 th:text="${users.getId()}"></h2>
    <h2 th:text="${users.getName()}"></h2>
    <h2 th:text="${users.getSurname()}"></h2>
    <h2 th:text="${users.getEmail()}"></h2>
    <h2 th:text="${users.getGender()}"></h2>
    <h2 th:text="${users.getAge()}"></h2>
    <br>
    <a href="/users">Return to users page</a>
</body>
</html>